
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

ul {
  list-style-type: none;
  margin: 0;
  padding: 2;
  background-color: #C7C9C7 /* 420 C */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
}

/* This fixes the menubar to the top of the page even if scrolling but may not work properly on mobile devices
	ul {
  position: fixed;
  top: 0;
  width: 100%;
}
*/

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #00968F; /* 7716 C */
}

figure {
  float: right;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}