
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

/*ul {
  list-style-type: none;
  margin: 0;
  padding: 2;
  background-color: #C7C9C7;
}*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4E5458;/*#333;*/ /* 10392 C */
}

.logo{
	width: 10%;
	height: 10%;
}

menu_li {
  float: left;
}

menu_li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
menu_li a:hover {
  background-color: #111;
}

.active {
  background-color: #00968F; /* 7716 C */
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 40%;
  max-width: 40%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 80%;
}

figure {
  float: right;
  width: 100%;
  text-align: center;
  font-style: normal;
  font-size: medium;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.JustLTxtL {
  justify-self: left;
  align-self: start;
  text-align: left;
  max-width: 80%;
}

.JustLTxtC {
  justify-self: left;
  align-self: start;
  text-align: center;
  max-width: 80%;
}

.NoPadFlex {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
}